.Card{
    width: 95%;
    height: 80vh;
    border-radius: 10px;
    margin-top: 1rem;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform-origin: 50% 99%;
}

.Current{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.No_Current{
    display: none
}

.Image{
    width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.Image_Container{
    height: 50%;
    border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Card_Footer{
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Unlike_Button{
    width: 50px;
    height: 50px;
    text-align:center;
    vertical-align:middle;
    display:inline-block;
    line-height: 55px;
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    overflow: hidden;
}

.Like_Button{
    width: 50px;
    height: 50px;
    background-color: #F94144;
    text-align:center;
    vertical-align:middle;
    display:inline-block;
    line-height: 55px;
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    overflow: hidden;
}



.Description_Container{
    margin: 10px;
    overflow: scroll;
}

.Unlike_Icon{
    color:#F94144;
    line-height: inherit;
}

.Like_Icon{
    color:white;
    line-height: inherit;
}

.yes{
    animation: yay 0.7s ease-out;
  }
.no{
    animation: nope 0.7s ease-out;
  }

@keyframes yay {
    from {
      transform: rotate(0deg);
      opacity: 1;
    }
    to {
      transform: rotate(40deg) translateY(-80px);
      opacity: 0;
    }
}

@keyframes nope {
    from {
        transform: rotate(0deg);
        opacity: 1;
    }
    to {
        transform: rotate(-40deg) translateY(-80px);
        opacity: 0;
    }
}
